* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1.title {
    justify-self: center;
    font-size: 50px;
}

[class="ej1 button"] {
    display: flex;
    justify-self: center;
    padding: 5px 10px;
}

[class="ej2 container"], [class="ej3 container"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#ej3Textarea {
    min-width: 250px;
}

[class="ej3 list"] li button {
    margin-left: 20px;
}