* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1.title {
    justify-self: center;
    font-size: 50px;
}

[class="ej1 button"] {
    display: flex;
    justify-self: center;
    padding: 5px 10px;
}

[class="ej2 container"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}