* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1.title {
    justify-self: center;
    font-size: 50px;
}

[class="ej1 button"] {
    display: flex;
    justify-self: center;
    padding: 5px 10px;
}

[class="ej2 container"], [class="ej3 container"], [class="ej6 container"], [class="ej8 container"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#ej3Textarea {
    min-width: 250px;
}

[class="ej3 list"] li button {
    margin-left: 20px;
}

[class="ej5 container"] {
    display: grid;
    justify-self: center;
    grid-template-areas: 
    "number1 number1 number2 number2"
    "suma resta multiplicacion division"
    "resultado resultado resultado resultado";
    gap: 10px;
}

[class="ej5 container"] #number1 {
    grid-area: number1;
    text-align: center;
}

[class="ej5 container"] #number2 {
    grid-area: number2;
    text-align: center;
}

[class="ej5 container"] #resultado {
    grid-area: resultado;
    justify-self: center;
    text-align: center;
    padding: 5px 10px;
    width: 50px;
    min-height: 25px;
}

[class="ej7 container"] {
    text-align: center;
}

[class="ej8 container"] #contador {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

