* {
    font-family: Arial, Helvetica, sans-serif;
}

h1.title {
    justify-self: center;
    font-size: 50px;
}

ol.list li.listElem {
    font-size: 20px;
}

p.back {
    font-size: 20px;
}

p.enunciado {
    font-size: 20px;
}

[class="ej1 button"] {
    display: flex;
    justify-self: center;
    font-size: 20px;
    padding: 5px 10px;
}